/* See license.txt for terms of usage */

.panelNode-tracepoints {
    overflow: hidden;
    font-family: Monaco, monospace;
}

.sourceRow[tracepoint_line="true"] {
    outline: 1px solid #D9D9B6;
    margin-right: 1px;
    background-color: #D9D9B6;
}

.tracepoint .objectLink {
    position: static;
}

.tracepoint {
    padding-left: 5px;
}

.sourceRow[tracepoint="true"] > .sourceLine {
     background-image: url(chrome://qpfbug/content/ui/tracepoint.png);
}

.panelNode-tracestack .stackframeMarker {
    padding-left: 13px;
}

.reproductionSelector {
    background-color: lightgoldenrodyellow;
    font-weight: bold;
    cursor: pointer;
}
.reproductionSelector .previousReproduction {
    text-align: left;
	padding: 10px;    
}
.reproductionSelector .currentReproduction {
    text-align: center;
	padding: 10px;    
}
.reproductionSelector .nextReproduction {
    text-align: right;
    padding: 10px;
    position: absolute;
    float: right;
}

