/* See license.txt for terms of usage */

.panelNode-tracepoints {
    overflow: hidden;
    font-family: monospace;
}

.sourceRow[tracepoint_line="true"] {
    Outline: 1px Solid #D9D9B6;
    Margin-right: 1px;
    Background-color: #D9D9B6;
}

.tracepoint .objectLink {
    position: static;
}

.tracepoint {
    padding-left: 5px;
}

.sourceRow[tracepoint="true"] > .sourceLine {
     background-image: url(chrome://qpfbug/content/ui/tracepoint.png);
}

.panelNode-tracestack .stackframeMarker {
    padding-left: 13px;
}

.reproductionSelector {
    background-color: lightgoldenrodyellow;
    font-weight: bold;
    cursor: pointer;
}
.reproductionSelector .previousReproduction {
    text-align: left;
    padding: 10px;
}
.reproductionSelector .currentReproduction {
    text-align: center;
    padding: 10px;
}
.reproductionSelector .nextReproduction {
    text-align: right;
    padding: 10px;
    position: absolute;
    float: right;
}
/* traceData */
.queryRow {
    margin-right: 1px;
    background-color: #D9D9B6;
    border-top: 1px solid #BEBEBE;
    border-bottom: 1px solid #BEBEBE;
}

.qpDataNotCollectedBox {
     color: #000088;
     cursor: pointer;
     /* twisty */
     background-image: url(chrome://firebug/skin/win/twistyClosed.png);
     background-repeat: no-repeat;
     background-position: 2px 2px;
     min-height: 12px;
}

.qpDataNotCollected {
    padding-left: 15px;
    }

