/* See license.txt for terms of usage */

.panelNode-tracepoints {
    overflow: hidden;
    font-family: Monaco, monospace;
}

.sourceRow[tracepoint_line="true"] {
    outline: 1px solid #D9D9B6;
    margin-right: 1px;
    background-color: #D9D9B6;
}

.querypoint .objectLink {
    position: static;
}

.querypoint {
    padding-left: 5px;
}